! Colorscheme

! special
*.foreground:   #ffffff
*.background: #0c0c0d
!*.background: [75]#0c0c0d
!*.cursorColor: #afbfbf

! black
*.color0: #2E3436
*.color8: #555753

! red
*.color1: #CC0000
*.color9: #EF2929

! green
*.color2: #4E9A06
*.color10: #8AE234

! yellow
*.color3: #C4A000
*.color11: #FCE94F

! blue
*.color4: #3465A4
*.color12: #729FCF

! magenta
*.color5: #75507B
*.color13: #AD7FA8

! cyan
*.color6: #06989A
*.color14: #34E2E2

! white
*.color7: #D3D7CF
*.color15: #ffffff

URxvt.depth: 32

URxvt*geometry: 80x240+0+0
URxvt.scrollBar: false

! *.font: xft:monospace:size=9
!URxvt.font: xft:Comic Mono:size=10:
URxvt.font: xft:Ubuntu Mono:size=10:

!Restore Ctrl+Shift+(c|v)
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

!do not scroll with output
URxvt.scrollTtyOutput: false

!scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

!scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.internalBorder: 8 

URxvt.perl-ext-common: default,matcher,-confirm-paste
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
